{{> head }}
{{> navbar }}

<dir class="row">

    <div class="col-8">
        <h1>Hotel Charleston</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nisi earum voluptates odit iure obcaecati numquam, ad tenetur dolore beatae fugit iusto, rerum itaque fuga! Provident magni omnis quo doloribus!</p>
    </div>
    
    <div class="col-4">
        <img src="assets/img/img-01.png" class="img-thumbnail">
    </div>
</dir>

{{> footer }}